 <!--Contactos-->
 <section id="contacto" class="contacto seccion-oscura">
    <div class="container">
      <div class="container text-center rectangulo d-flex justify-content-evenly">
        <div class="row">
           <div class="col-12 col-md-4 seccion-titulo">
           ¡Hablemos!
           </div>
           <div class="col-12 col-md-4 descripcion">
            Contáctame par iniciar tu proyecto de desarrollo web y 
            haré que tu visión se vuelva realidad.
            </div>
           <div class="col-12 col-md-4">
             <a href="mailto:guillermodavidaguirre@gmail.com">
               <button type="button">
                  Contacto
                  <i class="bi bi-envelope-at-fill"></i>
               </button>
             </a>
           </div>
         </div>
       </div>
     </div>
   </section>
