<!--Barra de Navegacion-->
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-toggler">
        <a class="navbar-brand" href="#">
        <img src="assets/icono.png" width="50" alt="icono portafolio">
        </a>
        <ul class="navbar-nav d-flex justify-content-center align-items-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#sobre-mi">Sobre mí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#proyectos-recientes">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"href="#testimonios">Testimonios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"href="#contacto">Contactos</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-light-dark">Ingreso</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
