<!--*********Hard Skills**********-->
<div class="softskill">
    <div class="row">
    <h1 class="hard">Hard Skills</h1>
       <div class="text-center col-sm-4 col-md-4 col-lg-4">
               <circle-progress
               [percent]="85"
               [radius]="70"
               [imageSrc]="'assets/html5.png'"
               [showImage]="true"
               [imageWidth]="70"
               [imageHeight]="70"
               [showUnits]="false"
               [showSubtitle]="false"
               [outerStrokeWidth]="12"
               [innerStrokeWidth]="6"
               [outerStrokeColor]="'#7B68EE'"
               [innerStrokeColor]="'white'"
               [animation]="true"
               [animationDuration]="700"
               ></circle-progress>   
       </div>
         <div class="text-center col-sm-4 col-md-4 col-lg-4">
               <circle-progress
               [percent]="85"
               [radius]="70"
               [imageSrc]="'assets/css.png'"
               [showImage]="true"
               [imageWidth]="70"
               [imageHeight]="70"
               [showUnits]="false"
               [showSubtitle]="false"
               [outerStrokeWidth]="12"
               [innerStrokeWidth]="6"
               [outerStrokeColor]="'#7B68EE'"
               [innerStrokeColor]="'white'"
               [animation]="true"
               [animationDuration]="700"
               ></circle-progress>   
       </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
               <circle-progress
              [percent]="85"
              [radius]="70"
              [imageSrc]="'assets/js.png'"
              [showImage]="true"
              [imageWidth]="70"
              [imageHeight]="70"
              [showUnits]="false"
              [showSubtitle]="false"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="6"
              [outerStrokeColor]="'#7B68EE'"
              [innerStrokeColor]="'white'"
              [animation]="true"
              [animationDuration]="700"
        ></circle-progress> 
        </div> 
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [radius]="70"
            [imageSrc]="'assets/amgular.png'"
            [showImage]="true"
            [imageWidth]="50"
            [imageHeight]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#7B68EE'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>   
       </div>
       <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [imageSrc]="'assets/boostrap.png'"
        [showImage]="true"
        [imageWidth]="90"
        [imageHeight]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#7B68EE'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>   
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [imageSrc]="'assets/github.png'"
        [showImage]="true"
        [imageWidth]="70"
        [imageHeight]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#7B68EE'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>   
    </div>
  </div>
</div>   

<!--*********Soft Skills**********-->
<div class="softskill">
 <div class="row">
    <h1 class="hard">Soft Skills</h1><!--Estudio-->
       <div class="text-center col-sm-4 col-md-4 col-lg-4">
               <circle-progress
               [percent]="85"
               [radius]="70"
               [imageSrc]="'assets/estudio.png'"
               [showImage]="true"
               [imageWidth]="70"
               [imageHeight]="70"
               [showUnits]="false"
               [showSubtitle]="false"
               [outerStrokeWidth]="12"
               [innerStrokeWidth]="6"
               [outerStrokeColor]="'#7B68EE'"
               [innerStrokeColor]="'white'"
               [animation]="true"
               [animationDuration]="700"
               ></circle-progress>   
       </div><!--Adaptabilidad-->
         <div class="text-center col-sm-4 col-md-4 col-lg-4">
               <circle-progress
               [percent]="85"
               [radius]="70"
               [imageSrc]="'assets/adaptacion.png'"
               [showImage]="true"
               [imageWidth]="70"
               [imageHeight]="70"
               [showUnits]="false"
               [showSubtitle]="false"
               [outerStrokeWidth]="12"
               [innerStrokeWidth]="6"
               [outerStrokeColor]="'#7B68EE'"
               [innerStrokeColor]="'white'"
               [animation]="true"
               [animationDuration]="700"
               ></circle-progress>   
       </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
               <circle-progress
              [percent]="85"
              [radius]="70"
              [imageSrc]="'assets/creativo.png'"
              [showImage]="true"
              [imageWidth]="70"
              [imageHeight]="70"
              [showUnits]="false"
              [showSubtitle]="false"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="6"
              [outerStrokeColor]="'#7B68EE'"
              [innerStrokeColor]="'white'"
              [animation]="true"
              [animationDuration]="700"
        ></circle-progress> 
        </div> <!--Pensamiento Critico-->
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [radius]="70"
            [imageSrc]="'assets/mentalidad.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#7B68EE'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>   
       </div><!--Trabajo en Equipo-->
       <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [imageSrc]="'assets/equipo.png'"
        [showImage]="true"
        [imageWidth]="70"
        [imageHeight]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#7B68EE'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>   
    </div><!--Superación-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [imageSrc]="'assets/superacion-personal.png'"
        [showImage]="true"
        [imageWidth]="70"
        [imageHeight]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#7B68EE'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>   
    </div>
  </div>
</div> 
