<div class="row">
    <h1 class="hard">Hard Skills</h1>
       <div class="text-center col-sm-4 col-md-4 col-lg-4">
               <circle-progress
               [percent]="85"
               [radius]="70"
               [outerStrokeWidth]="16"
               [innerStrokeWidth]="6"
               [showUnits]="false"
               [title]="'HTML'"
               [titleColor]="'white'"
               [outerStrokeColor]="'#78C000'"
               [innerStrokeColor]="'white'"
               [animation]="true"
               [animationDuration]="700"
               ></circle-progress>   
       </div>
         <div class="text-center col-sm-4 col-md-4 col-lg-4">
               <circle-progress
               [percent]="85"
               [radius]="70"
               [outerStrokeWidth]="16"
               [innerStrokeWidth]="6"
               [showUnits]="false"
               [title]="'CSS'"
               [titleColor]="'white'"
               [outerStrokeColor]="'#78C000'"
               [innerStrokeColor]="'white'"
               [animation]="true"
               [animationDuration]="700"
               ></circle-progress>   
       </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
               <circle-progress
              [percent]="85"
              [radius]="70"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="6"
              [showUnits]="false"
              [title]="'Angular'"
              [titleColor]="'white'"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'white'"
              [animation]="true"
              [animationDuration]="700"
        ></circle-progress> 
        </div> 
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [radius]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [showUnits]="false"
            [title]="'JavaScript'"
            [titleColor]="'white'"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>   
       </div>
       <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [showUnits]="false"
        [title]="'Bootstrap'"
        [titleColor]="'white'"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>   
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [showUnits]="false"
        [title]="'GitHub'"
        [titleColor]="'white'"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>   
</div>
</div>