<!--Seccion Hero-->
<section class="hero align-items-stretch">
    <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
      <img class="hero-imagen-desarrollador rounded-circle"src="assets/Guille.png" alt="Foto de Guillermo Aguirre">
      <h1>Hola, soy Guillermo Aguirre</h1>
      <h2>desarrollador de sitios web</h2>
    </div>
      <div class="hero-inferior">
      <img class="hero-inferior-imagen img-fluid" src="..//..//..//assets/gallery.png" alt="banner,coder">
   </div>
  <!--Sobre mí-->
      <section id="sobre-mi"class="sobre-mi seccion-oscura">
      <div class="contenedor">
       <h2 class="seccion-titulo">
         Conoce a Guillermo Aguirre
       </h2>
       <p class="seccion-texto">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, corrupti non.
         Animi veritatis libero blanditiis quia nobis illum molestias ullam doloremque, 
         cumque eveniet, corporis sequi laboriosam aliquam sunt consequuntur at. Lorem ipsum dolor, 
         sit amet consectetur adipisicing elit. 
         Quis quo fugit vitae expedita porro iure ab, a nobis iusto laboriosam natus aliquid, 
         et quaerat error rem rerum odit repellendus placeat.
       </p>
     </div>
     </section>
