/*Pie de pagina- Footer*/
footer {
    min-height:500px;
  }
 
  .footer-logo {
    height: 80px;
    width:80px;
    margin:10px;
  }
 
  .footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom:30px;
    font-family: 'Quicksand', sans-serif;
  }
 
  .icono-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2px;
    margin:10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  
  .icono-redes-sociales a:hover{
    background-color: white;
    border:2px solid rgb(13,110,253);
  }
 
  .icono-redes-sociales a:hover i {
    color: black;
  }
  
 .derechos-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
 }