<!--Experiencia-->
<section class="experiencia seccion-clara">
    <div class="container text-center">
    <div class="row">
<!--Desarrollo Web-->
     <div class="columna col-12 col-md-4">
           <i class="bi bi-code-slash"></i>
           <p class="experiencia-titulo">Desarrollo Web</p>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           </p>
           <div class="badges-contenedor">
             <span class="badge text-bg-primary">HTML</span>
             <span class="badge text-bg-primary">CSS</span>
             <span class="badge text-bg-primary">JavaScript</span>
             <span class="badge text-bg-primary">Angular</span>
             <span class="badge text-bg-primary">Bootstrap</span>
           </div>
    </div>
<!--Articulos-->
    <div class="columna col-12 col-md-4">
          <i class="bi bi-laptop"></i>
           <p class="experiencia-titulo">Artículos</p>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           </p>
      <div class="badges-contenedor">
           <span class="badge text-bg-primary">Escribir</span>
           <span class="badge text-bg-primary">Editar</span>
           <span class="badge text-bg-primary">Blogs</span>
      </div>
    </div>
<!--Estudiante-->
     <div class="columna col-12 col-md-4">
           <i class="bi bi-mortarboard"></i>
           <p class="experiencia-titulo">Estudios</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          </p>
    <div class="badges-contenedor">
           <span class="badge text-bg-primary">FreeCodeCamp</span>
           <span class="badge text-bg-primary">Desarrollo Web</span>
           <span class="badge text-bg-primary">Argentina Programa</span>
           <span class="badge text-bg-primary">Desarrollo web full stack</span>
    </div>
    </div>
    </div>
  </div>
</section>


