/*Articulos*/
.articulos {
    min-height: 500px;
    padding: 30px;
 }
 
 .articulos .card {
    width:80%;
    max-width: 600px;
    margin: 20px;
 }
 
 .articulos .card-header {
    font-weight: bold;
 }