<!--Articulos-->
<section class=" articulos justify-content-start">
    <h2 class="seccion-titulo texto-negro">Artículos</h2>
    <div class="card">
      <div class="card-header">
        Más recientes
      </div>
      <ul class="list-group list-group-flush">
        <a href="https://www.freecodecamp.org/espanol/news/" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">El decorador @property en Python-Cómo usarlo y ventajas en la sintaxis </li>
        </a>

        <a href="https://www.freecodecamp.org/espanol/news/" target="_blank" rel="noopener noreferrer">
          <li class="list-group-item">Python leer archivos json- Cómo cargar json desde un archivo y procesar dumps</li>
          </a>

        <a href="https://www.freecodecamp.org/espanol/news/" target="_blank" rel="noopener noreferrer">
          <li class="list-group-item">Python tutorial ciclos while</li>
          </a>
      </ul>
    </div>

    <a href="https://www.freecodecamp.org/espanol/news/" target="_blank" rel="noopener noreferrer">
      <button type="button" class="btn btn-info">Ver más artículos
      <i class=" bi bi-arrow-right-circle-fill"></i>
      </button>
      </a>
  </section>
