/* You can add global styles to this file, and also import other style files */
/*Estilos generales*/

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

h1{
    font-size: 2.1rem;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura{
   color: white;
   background-color: #1b1d32;
}
.seccion-clara {
   color: black;
   background-color: white;
}

.seccion-titulo {
   font-size: 2rem;
   padding: 15px 0;
   font-family:"Rubik Dirt",cursive;
}

.seccion-descripcion {
   font-size: 1.2rem;
   color:#584e4e
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
   font-size:1.1rem;
   margin: 20px;
}

.texto-negro {
   color:black;
}

.texto-blanco {
   color:white;
}

 /*Seccion Hero*/
.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

 .hero-principal{
    padding: 3rem;
 }
 
 .hero-imagen-desarrollador{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
 }
 
 .hero-principal h2{
    font-size: 1.5rem;
    color: #615151;
 }
/*Adaptable (responsiv)*/

@media screen and (max-width: 400px) {
   .overlay p {
      font-size: 18px;
   }
   .overlay i {
      font-size: 40px;
   } 
}

@media  screen and (max-width:800px){
   .testimonio-imagen {
     height: 120px;
     width: 120px;
   }
   
      .testimonio-texto {
      font-size: 15px;
   }
}

 @media screen and (max-width:767px){
    navbar-brand{
        display: none;
    }
 }

 @media screen and (min-width:700px){
   .hero-inferior-imagen{
      max-width:600px;
   }  
 } 