 <!--Footer-->
 <footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">
    <img class="footer-logo"  src="Imagenes/icono.png" alt="logo del portTransformamos ideas en realidades digitalesafolio">
    <p class="footer-texto text-center">Creo y aprendo todos los días.<br>Transformemos tus ideas en realidades digitales.</p>
    <div class="icono-redes-sociales d-flex flex-wrap aling-items-center">
      <a href="https://github.com/Guille-Aguirre" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/guillermo-aguirre-938453234/" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="mailto:guillermodavidaguirre@gmail.com" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-envelope-at-fill"></i>
      </a>
    </div>
    <div class="derechos-autor"> Creado por Guillermo Aguirre (2023) &#169;</div> 
  </footer>
