
<!--Proyectos-->
<section id="proyectos-recientes"class="proyectos-recientes seccion-clara d-flex flex-column">
    <h2 class="seccion-titulo texto-negro">Mis proyectos recientes</h2>
    <h3 class="seccion-descripcion">Estos son algunos proyectos que he creado recientemente.</h3>
  <!--Galeria de proyectos-->
  <div class="container text-center proyectos-contenedor">
    <div class="row">
        <!--Proyecto 1-->
       <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="Imagenes/servicios.jpg" alt="proyecto 1">
           <div class="overlay">
            <p>Proyecto 1</p>
            <div class="iconos-contenedor">
              <a href="https://github.com/" target="_blanck" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="https://muebleriaelhechizo.com.uy/" target="_blanck" rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
           </div>
        </div>
      </div>
        <!--Proyecto 2-->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="Imagenes/proyecto-2.png" alt="proyecto 1">
             <div class="overlay">
              <p>Proyecto 2</p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blanck" rel="noopener noreferrer">
                  <i class="bi bi-github"></i>
                </a>
                <a href="https://muebleriaelhechizo.com.uy/" target="_blanck" rel="noopener noreferrer">
                  <i class="bi bi-laptop"></i>
                </a>
              </div>
             </div>
          </div>
        </div>
        <!--Proyecto 3-->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="proyecto">
        <img src="Imagenes/proyecto-3.jpg" alt="proyecto 1">
         <div class="overlay">
          <p>Proyecto 3</p>
          <div class="iconos-contenedor">
            <a href="https://github.com/" target="_blanck" rel="noopener noreferrer">
              <i class="bi bi-github"></i>
            </a>
            <a href="https://muebleriaelhechizo.com.uy/" target="_blanck" rel="noopener noreferrer">
              <i class="bi bi-laptop"></i>
            </a>
          </div>
         </div>
      </div>
    </div>
        <!--Proyecto 4-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="Imagenes/proyecto-4.jpg" alt="proyecto 1">
           <div class="overlay">
            <p>Proyecto 4</p>
            <div class="iconos-contenedor">
              <a href="https://github.com/" target="_blanck" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="https://muebleriaelhechizo.com.uy/" target="_blanck" rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
           </div>
        </div>
      </div>
        <!--Proyecto 5-->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="Imagenes/proyecto-5.jpg" alt="proyecto 1">
             <div class="overlay">
              <p>Proyecto 5</p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blanck" rel="noopener noreferrer">
                  <i class="bi bi-github"></i>
                </a>
                <a href="https://muebleriaelhechizo.com.uy/" target="_blanck" rel="noopener noreferrer">
                  <i class="bi bi-laptop"></i>
                </a>
              </div>
             </div>
          </div>
        </div>
          <!--Proyecto 6-->
       <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="Imagenes/proyecto-6.jpg" alt="proyecto 1">
           <div class="overlay">
            <p>Proyecto 6</p>
            <div class="iconos-contenedor">
              <a href="https://github.com/" target="_blanck" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="https://muebleriaelhechizo.com.uy/" target="_blanck" rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a></div>
           </div>
        </div>
        </div>
           <button type="button" class="btn btn-info"> 
           <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
               Ver más proyectos <i class="bi bi-arrow-right-circle-fill"></i>
           </a>
        </button> 

  
